.leaflet-container {
  position: fixed;
  top: 0;
  left: var(--navbar-desktop-width);
  right: 0;
  bottom: 0;
  z-index: 0;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-right .leaflet-control {
  margin-right: 15px;
}
.leaflet-bottom .leaflet-control {
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .leaflet-container {
    left: 0;
    bottom: var(--navbar-mobile-height);
  }
}
