:root {
  --navbar-desktop-width: 70px;
  --navbar-mobile-height: 64px;
}

.navbar {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 1250;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  user-select: none;
  width: var(--navbar-desktop-width);
}

.navbar .spacer {
  flex: 5;
}

.navbar button {
  margin: 0;
  padding: 6px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9pt;
  border-radius: 0;
  color: #333;
}

.navbar button .MuiSvgIcon-root {
  width: 32px;
  height: 32px;
  color: #888;
}

@media screen and (max-width: 600px) {
  .navbar {
    top: auto;
    right: 0;
    flex-direction: row;
    width: 100%;
    height: var(--navbar-mobile-height);
  }

  .navbar .spacer {
    flex: 0;
    width: 0;
    height: 0;
  }

  .navbar button {
    flex: 1;
  }
}
