:root {
  --main-font: "Roboto", sans-serif;
  --main-navbar-height: 64px;
}

@media screen and (max-width: 600px) {
  :root {
    --main-navbar-height: 56px;
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
